.App {
  text-align: center;
  margin: 0 auto;
  padding: 32px;
}
.HeadingArea{
  margin: 16px;
  padding: 16px;
  box-sizing:border-box;
  border-radius:5px;
  box-shadow: 0 4px 10px #ccc;
  background-color: grey;
    
}
h1{
  color: white;
}
.todo-input {
  font-size: 24px;
  border: 2px solid grey;
  border-radius: 20px;
  width: 100%;
}
.todo {
  margin: 32px 0px;
  display: flex;
  align-items: center;
  font-size: 24px;
}
.done {
  text-decoration: line-through;
}
.checkbox {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}
.delete {
  margin-left: auto;
  font-size: 16px;
  cursor: pointer;
}
.checkbox-markall{
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-top: 10px;
  background: #d9d9d9;
  border: 1px solid #fff;

  
}

button{
  height: 24px;
  width: 94px;
  margin-top: 10px;
  margin-right: 280px;
  padding: 20px;
  padding-top: 5px;
  border-radius: 5px;
  background-color: rgb(49, 141, 228);
  box-shadow: 5px 5px 2px rgb(180, 179, 179);
}